<section>
    <h2>About me</h2>
    <div class="introduction">
        <article>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque aut iusto voluptatum quas illum eius non perspiciatis voluptatibus. Rem repellat pariatur iure cum porro asperiores quia nostrum, nesciunt dolor nobis?</p>
     

        
        <ul>
            <li><img src="./../../../assets/img/about_me/home_pin.svg" alt="">Located near Cologne/Bonn</li>
            <li><img src="./../../../assets/img/about_me/study.svg" alt="">Willing to Learn</li>
            <li><img src="./../../../assets/img/about_me/ready_to_work.svg" alt="">Ready to Work</li>
            <li><img src="./../../../assets/img/about_me/laptop.svg" alt=""></li>
        </ul>
        <button matButton="outlined">Basic</button>
        </article>

        <figure><img src="./../../../assets/img/about_me/portrait_1.PNG" alt="Portrait of Sebastian Bünz">
        <figcaption></figcaption>
        </figure>
    </div>
</section>