<section>
  <h2>{{ "aboutMe.title" | translate }}</h2>
  <div class="introduction">
    <article>
      <p class="text">
        {{ "aboutMe.p1" | translate }}<br />
        <strong>{{ 'aboutMe.p1.highlight' | translate }}</strong>
      </p>

      <p class="text">
        {{ "aboutMe.p2" | translate }}
      </p>

      <p class="text">
        {{ "aboutMe.p3" | translate }}
      </p>

      <p class="text">
        {{ "aboutMe.p4" | translate }}
      </p>
      <ul>
        <li>
          <img
            src="./../../../assets/img/about_me/home_pin.svg"
            alt="a pin icon with a house in it"
          /> {{ "aboutMe.li1" | translate }}
        </li>
        <li>
          <img
            src="./../../../assets/img/about_me/study.svg"
            alt="icon of a opened book"
          />{{ "aboutMe.li2" | translate }}
        </li>
        <li>
          <img
            src="./../../../assets/img/about_me/ready_to_work.svg"
            alt="icon of a suitcase with an patched arrow"
          />{{ "aboutMe.li3" | translate }}
        </li>
        <li>
          <img
            src="./../../../assets/img/about_me/on_equal_terms.svg"
            alt="icon of 2 heads, facing to each other smiling"
          />{{ "aboutMe.li4" | translate }}
        </li>
      </ul>
      <a mat-stroked-button href="#contactform" target="_self"
        ><strong>
          {{ 'aboutMe.a' | translate }}
        </strong></a
      >
    </article>

    <figure>
      <img
        src="./../../../assets/img/about_me/portrait_1.PNG"
        alt="Portrait of Sebastian Bünz"
      />
      <figcaption></figcaption>
    </figure>
  </div>
</section>
