<section>
  <h2>About me</h2>
  <div class="introduction">
    <article>
      <p class="text">
        In 2022 mit einer 2 tägigen SQL-Schulung angefangen, habe ich seitdem
        dutzende Unternehmensreports auf Basis von Microsoft Dynamics NAV 2009
        mit Visual Studio 2008 erstellt. Wenn ich dabei eins gelernt habe:<br />
        <strong>Ausdauer schafft Fortschritt</strong>
      </p>

      <p class="text">
        Mit diesem Mindset stelle ich mich nun der Herausforderung, mir den Weg
        in die Softwareentwicklung zu ebnen.
      </p>

      <p class="text">
        In meiner Arbeit verbinde ich analytisches Denken mit Kreativität und
        Ausdauer. Probleme betrachte ich gerne aus verschiedenen Blickwinkeln
        und arbeite strukturiert an klaren, nachhaltigen Lösungen.
        Zusammenarbeit im Team ist mir dabei genauso wichtig wie eigenständiges
        Arbeiten.
      </p>

      <p class="text">
        Meine Passion ist es Dinge zu verbessern, mein Anspruch dies mit
        Software zu erreichen
      </p>
      <ul>
        <li>
          <img
            src="./../../../assets/img/about_me/home_pin.svg"
            alt="a pin icon with a house in it"
          />Located near Cologne/Bonn
        </li>
        <li>
          <img
            src="./../../../assets/img/about_me/study.svg"
            alt="icon of a opened book"
          />Willing to Learn
        </li>
        <li>
          <img
            src="./../../../assets/img/about_me/ready_to_work.svg"
            alt="icon of a suitcase with an patched arrow"
          />Ready to Work
        </li>
        <li>
          <img
            src="./../../../assets/img/about_me/on_equal_terms.svg"
            alt="icon of 2 heads, facing to each other smiling"
          />Communication at the same level
        </li>
      </ul>
      <a mat-stroked-button href="#contactform" target="_self"><strong>Contact
            </strong></a>
    </article>

    <figure>
      <img
        src="./../../../assets/img/about_me/portrait_1.PNG"
        alt="Portrait of Sebastian Bünz"
      />
      <figcaption></figcaption>
    </figure>
  </div>
</section>
