<header>
  <div class="initial-icon">
    <img src="./../../../../assets/img/sb-icon.svg" alt="">
  </div>

  <div class="side-container">
    <div class="language-toggle"
    [ngClass]="{'show': router.url == '/menu'}">
      <button
        type="button"
        [ngClass]="{'active': activeLanguage == 'en'}"
        (click)="setActiveStatus('en')"
      >
        EN
      </button>
      <button
        type="button"
        [ngClass]="{'active': activeLanguage == 'de' }"
        (click)="setActiveStatus('de')"
      >
        DE
      </button>
    </div>

    <div
      [ngClass]="{
       'animate-burger-icon-open': animationReady && menuActive,
       'animate-burger-icon-close': animationReady && !menuActive,
       'menu-close': router.url == '/'  || router.url.includes('#')  || '/imprint',
       'menu-open':router.url == '/menu',
     }"
    >
      <a mat-button (click)="navigateToMenu()"> </a>
    </div>
  </div>
</header>
