@import "../../../../styles.scss";

header {
  @include dFlex($jc: space-between);
  @include padding($p: 30px 100px);
  max-width: 100%;
  height: 92px;
  width: 100vw;
  box-sizing: border-box;
  > .initial-icon {
    > img {
      @include sizeStyle($h: 30px, $w: 66.67px);
    }
  }
  > .side-container {
    @include dFlex($g: 64px);

    > .language-toggle {
      @include sizeStyle($h: 28px, $w: 88px);
      @include dFlex();
      > button {
        @include sizeStyle($h: 28px, $w: 40px);
      }
    }
    > .menu-open {
      background-image: url("../../../../assets/img/header/header_burger_t4.close.svg");
      @include backgroundStyle($bgs: contain);
    }
    > .menu-close {
      background-image: url("../../../../assets/img/header/header_burger.svg");
      @include backgroundStyle($bgs: contain);
    }
  }
}

.active {
  @include borderStyle();
}

.animation-pause {
  animation: none !important;
}

.animate-burger-icon-open {
  animation: burger-open 0.85s ease-in-out forwards;
}

.animate-burger-icon-close {
  animation: burger-close 0.85s ease-in-out forwards;
}

@keyframes burger-open {
  25% {
    background-image: url("../../../../assets/img/header/header_burger_t1.svg");
  }
  50% {
    background-image: url("../../../../assets/img/header/header_burger_t2.svg");
  }

  75% {
    background-image: url("../../../../assets/img/header/header_burger_t3.svg");
  }

  100% {
    background-image: url("../../../../assets/img/header/header_burger_t4.close.svg");
  }
}

@keyframes burger-close {
  0% {
    background-image: url("../../../../assets/img/header/header_burger_t4.close.svg");
  }

  25% {
    background-image: url("../../../../assets/img/header/header_burger_t5.svg");
  }
  50% {
    background-image: url("../../../../assets/img/header/header_burger_t6.svg");
  }

  75% {
    background-image: url("../../../../assets/img/header/header_burger_t7.svg");
  }

  100% {
    background-image: url("../../../../assets/img/header/header_burger.svg");
  }
}

@media screen and (max-width: 600px) {
  header {
    padding: 0 30px;
  }
  .language-toggle {
    display: none !important;
  }
}

.show {
  display: flex !important;
}
