<header>
  <div class="initial-icon">
    <a href="#"><img src="./../../../../assets/img/sb-icon.svg" alt=""></a>
  </div>

  <div class="side-container">
    <div class="language-toggle"
    [ngClass]="{'show': router.url == '/menu'}">
      <button
        type="button"
        [ngClass]="{'active': activeLanguage == 'en-GB'}"
        (click)="setActiveStatus('en-GB')"
      >
        EN
      </button>
      <button
        type="button"
        [ngClass]="{'active': activeLanguage == 'de-DE' }"
        (click)="setActiveStatus('de-DE')"
      >
        DE
      </button>
    </div>

    <div
      [ngClass]="{
       'animate-burger-icon-open': animationReady && menuActive,
       'animate-burger-icon-close': animationReady && !menuActive,
       'menu-close': !animationReady && !menuActive,
       'menu-open': !animationReady && menuActive,
     }"
    >
      <a mat-button (click)="navigateToMenu()"
      > </a>
    </div>
  </div>
</header>
