@import "./../../../styles.scss";

.reference-wrap {
  @include dFlex($g: 20px);
  @include padding($p: 20px);
  > .reference-container {
    @include dFlex($fd: column, $g: 24px, $jc: flex-start);
    @include padding($p: 24px 16px);
    @include sizeStyle($w: 397.33px, $h: 344px);
    @include borderStyle($bw: 4px, $bc: $secondary);
    > img {
      @include sizeStyle($h: 40px, $w: 40px);
    }

    > h3 {
      @include textStyle(
        $ff: "Syne",
        $fw: 700,
        $fst: bold,
        $fs: 22px,
        $lh: 120%
      );
    }

    > .reference-relation {
      @include textStyle($fs: 14px, $lh: 120%);
    }

    > .reference-text {
      @include textStyle($fs: 18px, $lh: 120%);
    }
  }
}

@media screen and (max-width: 768px) {
  .reference-container {
    height: 400px !important;
  }
}

@media screen and (max-width: 600px) {
  section {
    padding: 16px !important;
  }
  .reference-wrap {
    flex-direction: column !important;
    > .reference-container {
      height: unset !important;
      max-width: 397.33px !important;
      width: 100% !important;
    }
  }
}
