@use "./../../shared/index" as *;

.reference-wrap {
  @include dFlex($g: 20px);
  @include padding($p: 20px);
  > .reference-container {
    @include dFlex($fd: column, $g: 24px, $jc: flex-start);
    @include padding($p: 24px 16px);
    @include sizeStyle($w: 397.33px, $h: 520px);
    @include borderStyle($bw: 4px, $bc: $secondary);
    > img {
      @include sizeStyle($h: 40px, $w: 40px);
    }

    > h3 {
      @include textStyle(
        $ff: "Syne",
        $fw: 700,
        $fst: bold,
        $fs: 22px,
        $lh: 120%
      );
    }

    > .reference-relation {
      @include textStyle($fs: 14px, $lh: 120%);
    }
  }
}

@media screen and (max-width: 992px) {
  .reference-container {
    height: 600px !important;
  }

  .reference-wrap {
    padding: unset !important;
  }
}

@media screen and (max-width: 992px) {
  .reference-wrap {
    flex-direction: column !important;
    padding: 0 20px !important;
    > .reference-container {
      height: unset !important;
      width: 100% !important;
    }
  }
}

@media screen and (max-width: 600px) {
  /*   section {
    padding: 0 50px !important;
  } */

  .reference-wrap {
    flex-direction: column !important;
    padding: 0 20px !important;
    > .reference-container {
      height: unset !important;
      width: 100% !important;
    }
  }
}

@media screen and (max-height: 430px) {
  .reference-wrap {
    > .reference-container {
      height: 480px !important;
      gap: 8px !important;
    }
  }
}
