@use "./variables" as *;

@keyframes tipOver {
  0% {
    position: relative;
    left: 0%;
    top: 0%;
  }

  10% {
    left: 22%;
    transform: rotate(45deg);
  }

  20% {
    left: 70%;
    transform: rotate(135deg);
  }

  30% {
    left: 100%;
    top: 0;
    transform: rotate(180deg);
  }

  55% {
    left: 100%;
    top: 0;
    transform: rotate(180deg);
  }

  80% {
    left: 70%;
    transform: rotate(135deg);
  }

  90% {
    left: 22%;
    transform: rotate(45deg);
  }

  100% {
    position: relative;
    left: 0%;
    top: 0%;
  }
}

@keyframes minRotate {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(-360deg) scale(-1);
  }
  100% {
    transform: rotate(720deg) scale(1);
  }
}

@keyframes xRotate {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes rocket {
  0% {
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 100% 100%);
  }
  30% {
    clip-path: polygon(0% 100%, 100% 100%, 44% 0%, 100% -98%);
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-900px);
    opacity: 1;
  }
  51% {
    opacity: 0;
  }

  65% {
    transform: translateY(900px);
    clip-path: polygon(0% 100%, 100% 100%, 44% 0%, 100% -98%);
    opacity: 0;
  }

  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

@keyframes degRotate {
  25% {
    transform: rotate(0deg) scale(1.5);
  }
  100% {
    transform: rotate(-360deg) scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  8% {
    transform: scale(1.05);
    text-shadow: 0.5px 0.5px rgba(12, 12, 12, 0.795);
  }
  20% {
    transform: scale(1);
    text-shadow: unset;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes arrowDown {
  0% {
    transform: translateY(-300px);
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes expandLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(150%);
    width: 40%;
    background: $highlight;
  }
}

@keyframes decreaseDown {
  0% {
    transform: translateY(0);
  }
  100% {
     top: 100%;
    height: 0;
  }
}

@keyframes swishFromLeft {
  0% {
    transform: translateX(-40%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes swishFromTop {
  0% {
    transform: translateY(-40%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes swishFromRight {
  0% {
    transform: translateX(40%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes burger-open {
  25% {
    background-image: url("../../assets/img/header/header_burger_t1.svg");
  }
  50% {
    background-image: url("../../assets/img/header/header_burger_t2.svg");
  }

  75% {
    background-image: url("../../assets/img/header/header_burger_t3.svg");
  }

  100% {
    background-image: url("../../assets/img/header/header_burger_t4.close.svg");
  }
}

@keyframes burger-close {
  0% {
    background-image: url("../../assets/img/header/header_burger_t4.close.svg");
  }

  25% {
    background-image: url("../../assets/img/header/header_burger_t5.svg");
  }
  50% {
    background-image: url("../../assets/img/header/header_burger_t6.svg");
  }

  75% {
    background-image: url("../../assets/img/header/header_burger_t7.svg");
  }

  100% {
    background-image: url("../../assets/img/header/header_burger.svg");
  }
}

@keyframes draw-check {
  to {
    stroke-dashoffset: 0;
  }
}