$primary: #fffcf3;
$secondary: #000000;
$highlight: #ff9900;
$error: #e61c40;
$neutral: #bbbbbb;
$success: #4caf50;

.html {
  --skill-color: rgb(255, 76, 30);
}
.css {
  --skill-color: rgb(8, 112, 194);
}
.js {
  --skill-color: rgb(255, 224, 8);
}
.ng {
  --skill-color: rgb(209, 16, 147);
}
.ts {
  --skill-color: rgb(55, 124, 200);
}
.git {
  --skill-color: rgb(240, 86, 57);
}