@use './../shared/index' as *;

app-hero {
  height: 100dvh;
  display: flex;
  justify-content: center;
}

app-about-me {
  display: flex;
  justify-content: center;
}

app-skills {
    @include dFlex($fd: column, $g: 32px);
    padding-top: 40px;
}

app-projects {
    @include dFlex($fd: column);
}

app-references {
    @include dFlex();
} 

app-arrow {
    @include dFlex();
}
