@import './../../styles.scss';

app-hero {
  height: 100dvh;
  display: flex;
  justify-content: center;
}

app-about-me {
  display: flex;
  justify-content: center;
}

app-skills {
    @include dFlex($fd: column);
}
