@import "../../../styles.scss";

.hero {
  @include dFlex($fd: column, $g: 16px);
  /* @include padding(0 100px); */

  .title {
    @include positionStyle($p: relative, $zi: 1);
    @include backgroundStyle($bgs: contain, $bgc: $primary);

    > h1 {
      @include textStyle($ff: "Syne", $fw: 800, $fst: bold, $fs: 8rem);
    }
    > .name-container {
      @include dFlex($g: 16px);
      max-width: 100vw;
      width: 100%;
      > .line {
        @include sizeStyle($h: 3px, $w: 50%);
        @include borderStyle($br: 0.5rem, $bs: unset, $bc: unset);
        background-color: $secondary;
      }
      > .name {
        @include textStyle($fw: 700, $fst: bold, $fs: 3rem, $fc: $highlight);
      }
    }
    
  }
}

.continue-wrap {
  @include dFlex($jc: space-between, $ai: baseline);
  width: 100%;
}

.mailto {
  @include sizeStyle($deg: -90deg);
}

.arrow-container {
  @include sizeStyle($h: 230px, $w: 116px);
  @include dFlex($fd: column, $jc: end);
  > .arrow-animation {
    @include positionStyle($zi: -1);
    @include sizeStyle($h: 100px, $w: 100%);
    background-image: url("../../../assets/img/arrow/animation-down/arrow_down_t2.svg");
    animation: arrowDown 2s ease-in-out infinite;
  }

  > span {
    @include backgroundStyle($bgs: contain, $bgc: $primary);
    @include dFlex($fd: column, $jc: end);
    @include sizeStyle($h: 100px, $w: 100%);
    @include textStyle($fw: 300, $fs: 1.5rem);
  }
}


@keyframes arrowDown {
  0% {
    transform: translateY(-240px);
    opacity: 0;
  }
  49%{
     opacity: 0;
  }
  50%{
    opacity: 1;
  }

  100% {
    transform: translateY(130px);
  }
}


@media screen and (max-width: 1200px) {
  h1{
    font-size: 6rem !important;
  }
  .name{
    font-size: 2rem !important;
  }
}

@media screen and (max-width: 992px) {
  h1{
    font-size: 5.5rem !important;
  }
  .name{
    font-size: 1.75rem !important;
  }

   span{
    font-size: 1.25rem !important;
  }
}


@media screen and (max-width: 768px) {
  h1{
    font-size: 4.25rem !important;
  }
  .name{
    font-size: 1.5rem !important;
  }
}


@media screen and (max-width: 600px) {
  h1{
    font-size: 3rem !important;
  }
  .name{
    font-size: 1rem !important;
  }

  span{
    font-size: 1rem !important;
  }
}


@media screen and (max-width: 440px) {
  h1{
    font-size: 2rem !important;
  }
  .name{
    font-size: 1rem !important;
  }

  span{
    font-size: 1rem !important;
  }
}