@import "../../../styles.scss";

.hero {
  @include dFlex($fd: column, $g: 16px);
  @include padding(0 100px);

  .title {
    @include positionStyle($p: relative, $zi: 1);
    @include backgroundStyle($bgs: contain, $bgc: $primary);

    > h1 {
      @include textStyle($ff: "Syne", $fw: 800, $fst: bold, $fs: 128px);
    }
    > .name-container {
      @include dFlex($g: 16px);
      max-width: 100vw;
      width: 100%;
      > .line {
        @include sizeStyle($h: 3px, $w: 50%);
        @include borderStyle($br: 0.5rem, $bs: unset, $bc: unset);
        background-color: $secondary;
      }
      > .name {
        @include textStyle($fw: 700, $fst: bold, $fs: 48px, $fc: $highlight);
      }
    }
    /*   > .continue-wrap {
    @include dFlex($jc: space-between);
    width: 100%;
  } */
  }
}

.continue-wrap {
  @include dFlex($jc: space-between, $ai: baseline);
  width: 100%;
}

.mailto {
  @include sizeStyle($deg: -90deg);
}

.arrow-container {
  @include sizeStyle($h: 230px, $w: 116px);
  @include dFlex($fd: column, $jc: end);
  > .arrow-animation {
    @include positionStyle($zi: -1);
    @include sizeStyle($h: 100px, $w: 100%);
    background-image: url("../../../assets/img/arrow/animation-down/arrow_down_t2.svg");
    animation: arrowDown 2s ease-in-out infinite;
  }

  > span {
    @include backgroundStyle($bgs: contain, $bgc: $primary);
    @include dFlex($fd: column, $jc: end);
    @include sizeStyle($h: 100px, $w: 100%);
    @include textStyle($fw: 300, $fs: 22px);
  }
}

@keyframes arrowDown {
  0% {
    transform: translateY(-240px);
  }

  100% {
    transform: translateY(130px);
  }
}
