<div class="hero">
  <div class="title">
    <h1>
      Frontend <br />
      Developer <br />
    </h1>

    <div class="name-container">
      <div class="line"></div>
      <span class="name">Sebastian Bünz </span>
    </div>
  </div>
<div class="continue-wrap">
  <div class="mailto">
    <a href="mailto:bastibuenz25@gmail.com">bastibuenz25&commat;gmail.com</a>
  </div>

  <div class="arrow-container">
    <div class="arrow-animation"></div>
    <span>Scroll Down</span>
  </div>
</div>


</div>