@use "./../../shared/index" as *;

.hero {
  @include dFlex($fd: column, $g: 16px);
  .title {
    > .name-container {
      @include dFlex($g: 16px);
      max-width: 100vw;
      width: 100%;
      > .line {
        @include sizeStyle($h: 3px, $w: 50%);
        @include borderStyle($br: 0.5rem, $bs: unset, $bc: unset);
        background-color: $secondary;
      }
      > .name {
        @include textStyle($fw: 700, $fst: bold, $fs: 3rem, $fc: $highlight);
      }
    }
  }
}

.continue-wrap {
  @include dFlex($jc: space-between, $ai: baseline);
  width: 100%;
}

.mailto {
  @include sizeStyle($deg: -90deg);
}

.arrow-container {
  @include sizeStyle($h: 230px, $w: 116px);
  @include dFlex($fd: column, $jc: end);
  > .arrow-animation {
    @include positionStyle($zi: -1);
    @include sizeStyle($h: 100px, $w: 100%);
    background-image: url("../../../assets/img/arrow/animation-down/arrow_down_t2.svg");
    animation: arrowDown 2s ease-in-out infinite;
  }

  > span {
    @include backgroundStyle($bgs: contain, $bgc: $primary);
    @include dFlex($fd: column, $jc: end);
    @include sizeStyle($h: 100px, $w: 100%);
    @include textStyle($fw: 300, $fs: 1.5rem);
    animation: pulse 2s ease-in-out infinite;
    animation-delay: 2.1s;
  }
}


@media screen and (max-width: 1200px) {
  .name {
    font-size: 2rem !important;
  }
}

@media screen and (max-width: 992px) {
  .name {
    font-size: 1.75rem !important;
  }

  span {
    font-size: 1.25rem !important;
  }
}

@media screen and (max-width: 768px) {
  .name {
    font-size: 1.5rem !important;
  }
}

@media screen and (max-width: 600px) {
  .name {
    font-size: 1rem !important;
  }

  span {
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 440px) {

  .name {
    font-size: 1rem !important;
  }

  span {
    font-size: 1rem !important;
  }
}



@media screen and (max-height: 430px) {
  .hero{
    flex-direction: row !important;
  }

}
