<section>
  <div class="title">
    <h2>Portfolio</h2>
    <span>
     </span
    >
  </div>

  @for (item of projects; track $index) {
  <div class="project-list" [class.reversed]="$odd">
    <span class="counter"
      ><strong>{{ $index + 1 }} / {{ projects.length }}</strong></span
    >
    <div class="img-wrapper" [class.mirrored]="$odd">
      @if (screenWidth > 1024) {
      <iframe
        class="preview"
        [src]="videoUrls[$index]"
        frameborder="0"
        [title]="'embedded website from: ' + item.title"
      ></iframe>
      } @else {
      <img class="preview" [src]="item.imgsrc" alt="" />
      }
    </div>
    <aside>
      <span class="aside-counter"
        ><strong>{{ $index + 1 }} / {{ projects.length }}</strong></span
      >
      <div class="project-info none" [class.reverse-animation]="$odd">
        <h3>{{ item.title }}</h3>
        <span class="project-skills"> {{ item.skills.join(" | ") }} </span>
        <span class="project-description">{{'project.'+  (item.title | lowercase) | translate}}</span>
        <span class="external-links">
          <a mat-stroked-button class="button" [href]="item.git" target="_blank"
            ><strong>GitHub</strong></a
          >
          <a mat-stroked-button class="button" [href]="item.url" target="_blank"
            ><strong>Link</strong></a
          ></span
        >
      </div>
    </aside>
  </div>
  }
</section>
