@use "./../../shared/index" as *;

section {
  @include dFlex($g: 72px, $fd: column);
  > .project-list {
    > .counter {
      display: none;
    }
    @include dFlex($g: 40px);
    > .img-wrapper {
      position: relative;
      filter: brightness(0.02);

      > .preview {
        @include sizeStyle($h: 600px, $w: 720px);
        max-width: 100%;
        @include padding(0px 40px 42px 0px);
      }

      &::after {
        content: "";
        @include positionStyle($t: 50%, $r: -10px, $l: unset, $b: unset);
        @include sizeStyle($h: 75.7px, $w: 75.7px);
        background-image: url("./../../../assets/img/arrow/arrow_border.svg");
        @include backgroundStyle($bgr: no-repeat, $bgs: contain, $bgp: center);
        transition: transform 0.475s ease;
        transform: translateY(-50%) rotate(0deg) scale(0);
      }
      &.mirrored::after {
        content: "";
        @include positionStyle($t: 50%, $r: unset, $l: -8px, $b: unset);
      }
    }

    > aside {
      @include dFlex($fd: column, $ai: start, $jc: start, $g: 10px);
      @include sizeStyle($h: 390px, $w: 240px);
      > .project-info {
        @include dFlex($fd: column, $ai: unset, $g: 8px);
        > h3 {
          @include textStyle($ff: "Syne", $fw: 800, $fs: 2rem, $lh: 120%);
        }
        > .project-skills {
          @include textStyle($fs: 1.25rem, $lh: 120%, $fc: $highlight);
        }
        > .external-links {
          @include dFlex($g: 16px, $fd: column);
          > .button {
            @include primary-button();
          }
        }
      }
    }
    &.in-view .project-info {
  display: flex !important;
  animation: swishFromLeft 0.5s forwards;
}

    &.in-view .reverse-animation {
      display: flex !important;
      animation: swishFromRight 0.5s forwards;
    }

    &.in-view .preview {
      outline: 4px black solid;
      outline-offset: -32px;
    }
    &.in-view .img-wrapper {
      filter: brightness(1);
      transition: 1s ease-out;
    }

    &.in-view .img-wrapper::after {
      transform: translateY(-50%) rotate(135deg) scale(1) !important;
    }
    &.in-view .mirrored::after {
      transform: translateY(-50%) rotate(-135deg) scale(1) !important;
    }
  }
}

.none {
  display: none !important;
}

.reversed {
  flex-direction: row-reverse !important;
}

@media screen and (max-width: 1080px) {
  .project-list {
    > .img-wrapper {
      > .preview {
        width: 636px !important;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .project-list {
    gap: 20px !important;
    > .img-wrapper {
      > .preview {
        height: 340px !important;
        width: 540px !important;
        width: auto;
      }
    }
    .external-links {
      flex-direction: row !important;
      gap: 8px !important;
    }
    .button {
      height: 50px !important;
      max-width: 120px !important;
    }
  }
}

@media screen and (max-width: 880px) {
  .project-list {
    flex-direction: column !important;
    gap: 10px !important;
    > .counter {
      display: flex !important;
      width: 100%;
      justify-content: end;
    }
    > .img-wrapper {
      > .preview {
        height: 360px !important;
      }
    }
    > aside {
      height: 260px !important;
      gap: 0 !important;
      > .aside-counter {
        display: none !important;
      }
      > .project-info {
        > .external-links {
          flex-direction: row !important;
        }
      }
    }
    &.in-view  .project-info {
      animation: swishFromTop 0.5s forwards !important;
    }
  }
}

@media screen and (max-width: 768px) {
  aside {
    gap: 0 !important;
    height: 0 !important;
  }
}

@media screen and (max-width: 660px) {
  .project-list {
    > .img-wrapper {
      > .preview {
        height: 300px !important;
        width: 460px !important;
      }
    }
    > aside {
      width: 220px !important;
    }
  }
}

@media screen and (max-width: 580px) {
  .project-list {
    > .img-wrapper {
      > .preview {
        height: 260px !important;
        width: 440px !important;
        padding: 0px 24px 50px 0px !important;
        outline-offset: -24px !important;
      }
      &::after {
        right: -3px !important;
        width: 48px !important;
        height: 48px !important;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .project-list {
    > .img-wrapper {
      > .preview {
        height: 240px !important;
        width: 400px !important;
      }
    }
  }
}

@media screen and (max-width: 460px) {
  .project-list {
    > .img-wrapper {
      > .preview {
        height: 200px !important;
        width: 320px !important;
      }
    }
  }

  .mat-mdc-outlined-button {
    height: 60px !important;
    width: 120px !important;
  }
}

@media screen and (max-width: 400px) {
  .project-list {
    > .img-wrapper {
      > .preview {
        height: 180px !important;
        width: 280px !important;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .project-list {
    > .img-wrapper {
      > .preview {
        height: 160px !important;
        width: 250px !important;
        padding: 0px 26px 50px 0px !important;
      }
    }
  }

  .mat-mdc-outlined-button {
    height: 50px !important;
    width: 100px !important;
    font-size: 19px !important;
  }
}

span[class$="counter"] {
  @include textStyle($ff: "Syne" !important, $fw: 700, $lh: 120%, $fs: 3rem);
}

@media screen and (max-height: 430px) {
  .project-list {
    > .img-wrapper {
      > .preview {
        height: 220px !important;
        width: 440px !important;
      }
    }
    > .copunter{
      width: 33% !important;
    }
  }

  .project-description{
    font-size: 14px !important;
  }
}
