@import "./../../../styles.scss";

section {
  @include dFlex($g: 48px, $fd: column);
  @include padding($p: 0px 10px);
  > .project-list {
    > .counter {
      display: none;
    }
    @include dFlex($g: 40px);
    > .img-wrapper {
      position: relative;

      > img {
        @include sizeStyle($h: auto, $w: 620px);
        max-width: 100%;
        inline-size: auto;
        padding: 0px 50px 42px 0px;
        
      }

      &::after {
        content: "";
        @include positionStyle($t: 50%, $r: -10px, $l: unset, $b: unset);
        @include sizeStyle($h: 75.7px, $w: 75.7px);
        background-image: url("./../../../assets/img/arrow/arrow_border.svg");
        @include backgroundStyle($bgr: no-repeat, $bgs: contain, $bgp: center);

        transition: transform 0.475s ease;
        transform: translateY(-50%) rotate(0deg) scale(0);
      }
    }

    > aside {
      @include dFlex($fd: column, $ai: start, $jc: start, $g: 10px);
      @include sizeStyle($h: 390px, $w: 240px);
      > .project-info {
        @include dFlex($fd: column, $ai: unset, $g: 8px);

        > h3 {
          @include textStyle($ff: "Syne", $fw: 800, $fs: 2rem, $lh: 120%);
        }
        > .project-skills {
          @include textStyle($fs: 1.25rem, $lh: 120%, $fc: $highlight);
        }
      }
    }
    &:hover .project-info {
      display: flex !important;
      transition: 400ms;
      animation: swishFromLeft 0.5s forwards;
    }
    &:hover img {
      outline: 4px black solid;
      outline-offset: -32px;

    }
    &:hover .img-wrapper::after {
      transform: translateY(-50%) rotate(135deg) scale(1) !important;
    }
  }
}

.mat-mdc-outlined-button {
  border-color: $secondary;
  border-radius: 0;
  color: $secondary;
  border-width: 4px;
  @include textStyle($fs: 23px, $lh: 120%);
  @include padding($p: 20px 40px);
  @include sizeStyle($h: 68px, $w: 149px);
  &:hover {
    filter: brightness(1);
    box-shadow: 0px 0px 12px 4px $highlight;
    color: $highlight;
    border-color: $highlight;
  }
}

.none {
  display: none !important;
}

@media screen and (max-width: 1080px) {
  .aside {
    width: 280px !important;
  }
}

@media screen and (max-width: 992px) {
  .project-list {
    gap: 20px !important;
    > .img-wrapper {
      > img {
        height: 340px !important;
        width: auto;
      }
    }
  }
}

@media screen and (max-width: 880px) {
  .project-list {
    flex-direction: column !important;
    gap: 10px !important;
    > .counter {
      display: flex !important;
      width: 100%;
      justify-content: end;
    }
    > .img-wrapper {
      > img {
        height: 360px !important;
        width: unset !important;
      }
    }
    > aside {
      height: 260px !important;
      gap: 0 !important;
      > .aside-counter {
        display: none !important;
      }
    }
    &:hover .project-info {
      animation: swishFromTop 0.5s forwards !important;
    }
  }
}

@media screen and (max-width: 768px) {
  aside {
    gap: 0 !important;
    height: 0 !important;
  }
}

@media screen and (max-width: 660px) {
  .project-list {
    > .img-wrapper {
      > img {
        height: 300px !important;
      }
    }
    > aside {
      width: 220px !important;
    }
  }
}

@media screen and (max-width: 580px) {
  .project-list {
    > .img-wrapper {
      > img {
        height: 260px !important;
        padding: 0px 32px 50px 0px !important;
        outline-offset: -24px !important;
      }
      &::after {
        right: -3px !important;
        width: 48px !important;
        height: 48px !important;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .project-list {
    > .img-wrapper {
      > img {
        height: 240px !important;
      }
    }
  }
}

@media screen and (max-width: 460px) {
  .project-list {
    > .img-wrapper {
      > img {
        height: 200px !important;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .project-list {
    > .img-wrapper {
      > img {
        height: 180px !important;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .project-list {
    > .img-wrapper {
      > img {
        height: 160px !important;
        padding: 0px 26px 50px 0px !important;
      }
    }
  }
}

span[class$="counter"] {
  @include textStyle($ff: "Syne" !important, $fw: 700, $lh: 120%, $fs: 3rem);
}

@keyframes swishFromLeft {
  0% {
    transform: translateX(-40%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes swishFromTop {
  0% {
    transform: translateY(-40%);
  }
  100% {
    transform: translateY(0);
  }
}
