@use './shared/index.scss' as *;

app-header{
    position: sticky;
    top: 0  ;
    z-index: 999;
    background-color: #fffcf3;
    @include dFlex();
    width: 100%;

}


app-footer{
    @include dFlex();
}
