  <footer [ngClass]="{'unsetHeight': router.url == '/menu' || router.url == '/imprint' || router.url ==  '/privacy'}">
    <div class="greeting" id="contactform">
    <h3>Say Hi!</h3>
    </div>
    <div class="subtext">
        <span>{{ 'footer.getInContact' | translate }}</span>
    </div>

<app-form (submitted)="onFormSubmit()" [ngClass]="{'hide': router.url == '/menu' || router.url ==  '/imprint' || router.url ==  '/privacy'}"></app-form>
<app-submit-message [visible]="showMessage"></app-submit-message>


<mat-card class="footer-card">
<mat-card-content class="wrap-copyright">
    <a href="#"><img src="./../../../../assets/img/sb-icon-white.png" alt="own Logo"></a> 
    <a class="footer-copyright" href="imprint">&copy; Sebastian Bünz 2025</a>
    
</mat-card-content>
    
  <mat-card-content class="external-links">
    <a target="_blank" href="https://github.com/batti251"><img src="../../../../assets/img/footer/footer_icon_github.svg" alt=""></a>
    <a href="mailto:bastibuenz25@gmail.com"><img src="../../../../assets/img/footer/footer_icon_mail.svg" alt=""></a>
    <a target="_blank" href="https://linkedin.com/in/sebastian-bünz-606003212"><img src="../../../../assets/img/footer/footer_icon_linkedin.svg" alt=""></a>
  </mat-card-content>
</mat-card>


  </footer>