@use "./../../index" as *;

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

section {
  @include backgroundStyle($bgc: $secondary);
  clip-path: polygon(0% 0%, 100% 100px, 100% 100%, 0% calc(100% - 0px));
  @include dFlex();
  max-width: unset;
  width: 100%;
}

footer {
  @include sizeStyle($h: 100%, $w: 100%);
  min-height: 800px;
  max-width: 1920px;
  @include dFlex($fd: column, $g: 48px, $jc: space-evenly);
  padding: 100px 0 0 0;
}

.greeting {
  padding: 0 340px 0 0;
  > h3 {
    @include textStyle($ff: "Syne", $fs: 4.875rem, $fw: 800);
    color: #fffcf3;
  }
}

.footer-card {
  @include backgroundStyle($bgc: $secondary);
  @include dFlex($jc: space-between);
  width: 100%;
  @include textStyle($fc: #fffcf3);

  > .wrap-copyright {
    @include dFlex($g: 16px, $fd: column, $ai: flex-start);
    @include sizeStyle($h: unset, $w: 250px);
    @include textStyle($fc: #fffcf3, $fw: 400, $fs: 1.375rem);
    > a {
      @include textStyle($fc: #fffcf3, $fw: 400, $fs: 1.375rem);
    }
  }

  > .external-links {
    @include dFlex($g: 16px);
  }
}

.hide {
  display: none !important;
}

.unsetHeight {
  min-height: unset !important;
}

@media screen and (max-width: 992px) {
  .greeting {
    > h3 {
      font-size: 4.5rem !important;
    }
  }
}

@media screen and (max-width: 768px) {
  img {
    height: 28px !important;
  }

  .greeting {
    padding: 0 240px 0 0;
    > h3 {
      font-size: 3.875rem !important;
    }
  }
}

@media screen and (max-width: 600px) {
  .mat-mdc-card-content:first-child {
    padding: unset !important;
  }

  .wrap-copyright {
    flex-direction: row !important;
    width: unset !important;
    align-items: center !important;
  }

  img {
    height: 40px !important;
  }

  .footer-card {
    flex-direction: column-reverse;
  }

  .greeting {
    padding: 0;
    > h3 {
      font-size: 3rem !important;
    }
  }
}

@media screen and (max-width: 420px) {
  img {
    height: 28px !important;
  }

  .footer-copyright {
    font-size: 1rem !important;
  }

  .greeting {
    > h3 {
      font-size: 2rem !important;
    }
  }
}
