@use "./../../shared/index" as *;

h2 {
  @include positionStyle($p: relative, $b: 140px, $zi: 1);
  @include padding($p: 10px);
  background-color: $primary;
}

section {
  @include borderStyle($bc: $secondary, $bw: 4px);
  @include sizeStyle($h: unset, $w: 80%);
  @include padding($p: 80px 40px);
  @include dFlex($fd: column, $g: 24px);
  > .icon-list {
    @include dFlex($g: 96px);
    flex-wrap: wrap;

    > .icon {
      @include sizeStyle($h: 104px, $w: 100px);
      @include dFlex($fd: column, $g: 10px);

      > img {
        @include sizeStyle($h: 75px, $w: 70px);
      }

      > span {
        @include textStyle($fw: 700, $lh: 120%);
      }

      > .img-split {
        @include sizeStyle($h: 75px, $w: 70px);
        > .img-half {
          @include sizeStyle($h: 75px, $w: 70px);
          background-size: contain;
          background-repeat: no-repeat;
        }
        > .sql {
          background-image: url("./../../../assets/img/skills/icon_SQL.svg");
        }
        > .css {
          background-image: url("./../../../assets/img/skills/icon_CSS.svg");
        }
        > .left {
          position: relative;
          bottom: 0px;
        }
        > .right {
          position: relative;
          bottom: 75px;
        }

        > .top {
          position: relative;
          bottom: 0px;
          clip-path: polygon(0% 0%, 100% 0%, 100% 35%, 0% 35%);
        }
        > .middle {
          position: relative;
          bottom: 75px;
          clip-path: polygon(0% 34%, 100% 34%, 100% 68%, 0% 68%);
        }

        > .bottom {
          position: relative;
          bottom: 150px;
          clip-path: polygon(0% 100%, 100% 100%, 100% 67%, 0% 67%);
        }

        &:hover .right {
          transition: 1s;
          transform: translateX(15px);
        }
        &:hover .left {
          transition: 1s;
          transform: translateX(-15px);
        }

        &:hover > .top {
          transition: 1s;
          transform: translateX(-42px);
          animation: shrink 1s forwards;
          opacity: 0 !important;
        }
        &:hover > .bottom {
          transition: 1s;
          transition-delay: 0.6s;
          transform: translateX(-42px);
          opacity: 0 !important;
        }
        &:hover > .middle {
          transition: 1s;
          transition-delay: 0.3s;
          transform: translateX(42px);
          opacity: 0 !important;
        }
      }
    }
  }
  > .continue_learning {
    @include dFlex($fd: column, $g: 8px);
    width: 100%;
  }
}

.xRotate {
  &:hover > img {
    animation: xRotate 1s ease-in-out;
    @include skillHover();
  }
}

.minRotate {
  &:hover > img {
    animation: minRotate 2s ease-in-out;
    @include skillHover();
  }
}

.tipOver {
  &:hover > img {
    animation: tipOver 2s ease-in;
    @include skillHover();
  }
}

.degRotate {
  &:hover > img {
    animation: degRotate 1.5s ease-in-out;
  }
}

.rocket {
  &:hover > img {
    transition: 1s;
    animation: rocket 4s ease-in-out;
  }
}

@media screen and (max-width: 768px) {
  .icon-list {
    gap: 64px !important;
  }
}

@media screen and (max-width: 600px) {
  section {
    padding: 80px 20px !important;
  }

  .icon-list {
    gap: 32px !important;
  }
  .icon {
    height: 89px !important;
    width: 85.71px !important;
    > img {
      height: 60px !important;
      width: 55.8px !important;
    }
    > .img-split {
      > .sql {
        height: 60px !important;
        width: 55.8px !important;
      }
      > .css {
        height: 60px !important;
        width: 55.8px !important;
      }
      > .top {
        bottom: -10px !important;
        left: 8px;
      }
      > .middle {
        bottom: 50px !important;
        left: 8px;
      }

      > .bottom {
        bottom: 110px !important;
        left: 8px;
      }
      > .right {
        bottom: 50px !important;
        left: 7px;
      }
      > .left {
        bottom: -10px !important;
        left: 7px;
      }
    }
  }
}

@media screen and (max-height: 430px) {
  .icon-list {
    gap: 48px !important;
    > .icon {
      height: 88px !important;
      width: 88px !important;
      > img {
        height: 58px !important;
        width: 46px !important;
      }
    }
  }

  .img-split {
    height: 58px !important;
    width: 46px !important;

    > .img-half {
      height: 58px !important;
      width: 46px !important;
    }
    > .right {
      bottom: 52px !important;
    }

    > .left {
      bottom: -6px !important;
    }
    > .top {
      bottom: -4px !important;
    }
    > .middle {
      bottom: 54px !important;
    }
    > .bottom {
      bottom: 112px !important;
    }
  }
}
