@use './../../shared/index' as *;

h2 {
  @include textStyle($ff: "Syne", $fs: 78px, $fw: 800);
  @include positionStyle($p: relative, $t: 80px, $zi: 1);
  @include padding($p: 10px);
  background-color: $primary;
}

section {
  @include borderStyle($bc: $secondary, $bw: 4px);
  @include sizeStyle($h: unset, $w: 80%);
  @include padding($p: 80px 40px);
  @include dFlex($fd: column, $g: 24px);

  > .icon-list {
    @include dFlex($g: 96px);
    flex-wrap: wrap;

    > .icon {
      @include sizeStyle($h: 104px, $w: 100px);
      @include dFlex($fd: column, $g: 10px);

      > img {
        @include sizeStyle($h: 75px, $w: 70px);
      }

      > span {
        @include textStyle($fw: 700, $lh: 120%);
      }
    }
  }
  > .continue_learning {
    @include dFlex($fd: column, $g: 8px);
    width: 100%;
  }
}

.xRotate {
  &:hover > img {
    animation: xRotate 1s ease-in-out;
    background-color: color-mix(in srgb, var(--skill-color) 70%, transparent);
    box-shadow: 0px 0px 28px 12px var(--skill-color);
    border-radius: 7%;
  }
}

.degRotate {
  &:hover > img {
    animation: degRotate 1.5s ease-in-out;
  }
}

@keyframes xRotate {
  50% {
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes degRotate {
  25% {
    transform: rotate(0deg) scale(1.5);
  }
  100% {
    transform: rotate(-360deg) scale(1);
  }
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 2.5rem !important;
    top: 60px !important;
  }

  .icon-list {
    gap: 64px !important;
  }
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 2.25rem !important;
  }

  section {
    padding: 80px 20px !important;
  }

  .icon-list {
    gap: 32px !important;
  }
  .icon {
    height: 89px !important;
    width: 85.71px !important;
    > img {
      height: 60px !important;
      width: 55.8px !important;
    }
  }
}

.img-split {
  @include sizeStyle($h: 75px, $w: 70px);
  > .img-half {
    @include sizeStyle($h: 75px, $w: 70px);
    background-image: url("./../../../assets/img/skills/icon_SQL.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  > .left {
    position: relative;
    bottom: 0px;
  }
  > .right {
    position: relative;
    bottom: 75px;
    
  }

  &:hover .right {
    transition: 1s;
    transform: translateX(15px);
  }
  &:hover .left {
    transition: 1s;
    transform: translateX(-15px);
  }
}

.trial {
  &:hover > img {
    transform: translateY(-42px);
  }
}

@keyframes trial {
  100% {
    transform: translateY(-42px);
  }
}
