@use "./../../shared/index" as *;

h2 {
  @include textStyle($ff: "Syne", $fs: 78px, $fw: 800);
  @include positionStyle($p: relative, $t: 80px, $zi: 1);
  @include padding($p: 10px);
  background-color: $primary;
}

section {
  @include borderStyle($bc: $secondary, $bw: 4px);
  @include sizeStyle($h: unset, $w: 80%);
  @include padding($p: 80px 40px);
  @include dFlex($fd: column, $g: 24px);

  > .icon-list {
    @include dFlex($g: 96px);
    flex-wrap: wrap;

    > .icon {
      @include sizeStyle($h: 104px, $w: 100px);
      @include dFlex($fd: column, $g: 10px);

      > img {
        @include sizeStyle($h: 75px, $w: 70px);
      }

      > span {
        @include textStyle($fw: 700, $lh: 120%);
      }
    }
  }
  > .continue_learning {
    @include dFlex($fd: column, $g: 8px);
    width: 100%;
  }
}

.xRotate {
  &:hover > img {
    animation: xRotate 1s ease-in-out;
    background-color: color-mix(in srgb, var(--skill-color) 70%, transparent);
    box-shadow: 0px 0px 28px 12px var(--skill-color);
    border-radius: 7%;
  }
}

@keyframes xRotate {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(1);
  }
}

.minRotate {
  &:hover > img {
    animation: minRotate 2s ease-in-out;
    background-color: color-mix(in srgb, var(--skill-color) 70%, transparent);
    box-shadow: 0px 0px 28px 12px var(--skill-color);
    border-radius: 7%;
  }
}

.tipOver {
  &:hover > img {
    animation: tipOver 2s ease-in;
    background-color: color-mix(in srgb, var(--skill-color) 70%, transparent);
    box-shadow: 0px 0px 28px 12px var(--skill-color);
    border-radius: 7%;
  }
}

@keyframes tipOver {
  0% {
    position: relative;
    left: 0%;
    top: 0%;
  }

  10% {
    left: 22%;
    top: 7%;
    transform: rotate(45deg);
  }

  20% {
    left: 70%;
    top: 7%;
    transform: rotate(135deg);
  }

  30% {
    left: 100%;
    top: 0;
    transform: rotate(180deg);
  }

  55% {
    left: 100%;
    top: 0;
    transform: rotate(180deg);
  }

  80% {
    left: 70%;
    top: 7%;
    transform: rotate(135deg);
  }

  90% {
    left: 22%;
    top: 7%;
    transform: rotate(45deg);
  }

  100% {
    position: relative;
    left: 0%;
    top: 0%;
  }
}

@keyframes minRotate {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(-360deg) scale(-1);
  }
  100% {
    transform: rotate(720deg) scale(1);
  }
}

.degRotate {
  &:hover > img {
    animation: degRotate 1.5s ease-in-out;
  }
}

.rocket {
  &:hover > img {
    transition: 1s;
    animation: rocket 4s ease-in-out;
  }
}

@keyframes rocket {
  0% {
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 100% 100%);
  }
  30% {
    clip-path: polygon(0% 100%, 100% 100%, 44% 0%, 100% -98%);
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-900px);
    opacity: 1;
  }
  51% {
    opacity: 0;
  }

  65% {
    transform: translateY(900px);
    clip-path: polygon(0% 100%, 100% 100%, 44% 0%, 100% -98%);
    opacity: 0;
  }

  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

@keyframes degRotate {
  25% {
    transform: rotate(0deg) scale(1.5);
  }
  100% {
    transform: rotate(-360deg) scale(1);
  }
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 2.5rem !important;
    top: 60px !important;
  }

  .icon-list {
    gap: 64px !important;
  }
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 2.25rem !important;
  }

  section {
    padding: 80px 20px !important;
  }

  .icon-list {
    gap: 32px !important;
  }
  .icon {
    height: 89px !important;
    width: 85.71px !important;
    > img {
      height: 60px !important;
      width: 55.8px !important;
    }
    > .img-split {
      > .sql {
        height: 60px !important;
        width: 55.8px !important;
      }
      > .css {
        height: 60px !important;
        width: 55.8px !important;
      }
      > .top {
        bottom: -10px !important;
        left: 8px;
      }
      > .middle {
        bottom: 50px !important;
        left: 8px;
      }

      > .bottom {
        bottom: 110px !important;
        left: 8px;
      }
      > .right {
        bottom: 50px !important;
        left: 7px;
      }
      > .left {
        bottom: -10px !important;
        left: 7px;
      }
    }
  }
}

.img-split {
  @include sizeStyle($h: 75px, $w: 70px);
  > .img-half {
    @include sizeStyle($h: 75px, $w: 70px);
    background-size: contain;
    background-repeat: no-repeat;
  }
  > .sql {
    background-image: url("./../../../assets/img/skills/icon_SQL.svg");
  }
  > .css {
    background-image: url("./../../../assets/img/skills/icon_CSS.svg");
  }
  > .left {
    position: relative;
    bottom: 0px;
  }
  > .right {
    position: relative;
    bottom: 75px;
  }

  > .top {
    position: relative;
    bottom: 0px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 35%, 0% 35%);
  }
  > .middle {
    position: relative;
    bottom: 75px;
    clip-path: polygon(0% 34%, 100% 34%, 100% 68%, 0% 68%);
  }

  > .bottom {
    position: relative;
    bottom: 150px;
    clip-path: polygon(0% 100%, 100% 100%, 100% 67%, 0% 67%);
  }

  &:hover .right {
    transition: 1s;
    transform: translateX(15px);
  }
  &:hover .left {
    transition: 1s;
    transform: translateX(-15px);
  }

  &:hover > .top {
    transition: 1s;
    transform: translateX(-42px);
    animation: shrink 1s forwards;
    opacity: 0 !important;
  }
  &:hover > .bottom {
    transition: 1s;
    transition-delay: 0.6s;
    transform: translateX(-42px);
    opacity: 0 !important;
  }
  &:hover > .middle {
    transition: 1s;
    transition-delay: 0.3s;
    transform: translateX(42px);
    opacity: 0 !important;
  }
}
