<h2>My skills</h2>
<section>
  <div class="icon-list">
    @for (item of skills; track $index) {
    <div class="icon" [class]="item.animation + ' ' + item.color">
      @if (item.animation == "trial") {
      <div class="img-split">
        <div class="img-half left"></div>
        <div class="img-half right"></div>
      </div>
      } @else {
      <img
        src="./../../../assets/img/skills/icon_{{ item.skill }}.svg"
        alt=""
      />
      }
      <span>{{ item.skill }}</span>
    </div>
    }
  </div>
  <div class="continue_learning degRotate">
    <img
      src="./../../../assets/img/skills/icon_continued_learning.svg"
      alt=""
    />

    <span>{{ 'skills.phrase1' | translate}}</span>
    <span>{{ 'skills.phrase2' | translate}}</span>
  </div>
</section>
