<section>
  <div class="title">
    <h1>Imprint</h1>
    <span></span>
  </div>

  <h2>Diensteanbieter</h2>
  <address>
    Sebastian Bünz <br />
    Hönscheidstraße 15 <br />
    53773 Hennef <br />
    Deutschland
  </address>

  <h2>Kontaktmöglichkeiten</h2>
    <a href="mailto:bastibuenz25@gmail.com">bastibuenz25&#64;gmail.com</a>

  <h2>{{'imprint.ConditionDataMining.title' | translate}}</h2>
  <p class="reference-text paragraph">
    {{'imprint.ConditionDataMining.content' | translate}}
  </p>

  <h2>{{'imprint.liability.title' | translate}}</h2>
  <p class="reference-text paragraph">
    {{'imprint.liability.content.p1' | translate}}
  </p>
  <p class="reference-text paragraph">
    {{'imprint.liability.content.p2' | translate}}
  </p>
  <p class="reference-text paragraph">
    {{'imprint.liability.content.p3' | translate}}
  </p>
</section>
