@use './../shared/index.scss' as *;

section{
    @include sizeStyle($h: auto, $w: 100%);
    @include dFlex($jc: flex-start, $fd: column, $g: 24px);
    @include padding($p: 90px 0 36px 0 );

}

h2{
    width: 90%;
    @include textStyle($ff: "Syne", $fw: 800, $fst: bold, $fs: 1.5rem)
}


@media screen and (max-width: 768px) {
  h2 {
    font-size: 1.25rem !important;
    bottom: 112px !important;
  }
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 440px) {

}

@media screen and (max-width: 360px) {
  h2 {
    font-size: 1rem !important;
  }
}