<form (submit)="onSubmit()" [formGroup]="contactForm">
  <p>
    <mat-form-field appearance="outline">
      <mat-label for="name" name="name">
        @if (name?.invalid && !name.pristine) {
          {{ "footer.form1.error" | translate }}
        } @else {
          {{ "footer.form1" | translate }}
        }
      </mat-label>
      <input
        formControlName="name"
        type="name"
        autocomplete="new-name"
        matInput
        placeholder="{{'footer.name.placeholder' | translate}}"
        required
      />
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label for="email" name="email">
        @if (email?.invalid && !email.pristine) {
          {{ "footer.form2.error" | translate }}
        } @else {
          {{ "footer.form2" | translate }}
        }
      </mat-label>
      <input
        formControlName="email"
        matInput
        type="email"
        autocomplete="new-email"
        placeholder="{{'footer.email.placeholder' | translate}}"
      />
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label for="message" name="message">
        @if (message?.invalid && !message.pristine) {
          {{ "footer.form3.error" | translate }}
        } @else {
          {{ "footer.form3" | translate }}
        }
      </mat-label>
      <textarea
        class="textarea"
        formControlName="message"
        matInput
        placeholder="{{'footer.message.placeholder' | translate}}"
      ></textarea>
    </mat-form-field>
  </p>
  <p class="checkbox-caption">
    <label for="policy"></label>
    <mat-checkbox
      class="checkbox"
      formControlName="policy"
    ></mat-checkbox>
    <span>{{ "footer.policy.text1" | translate }}</span>
    <a
      href="privacy"
      target="_blank"
      rel="noopener noreferrer"
      class="text-highlight"
      >{{ "footer.policy.highlight" | translate }}</a
    >
    <span>{{ "footer.policy.text2" | translate }}</span>
  </p>
  <button
    class="button"
    type="submit"
    [disabled]="contactForm.invalid"
  >Send Email</button>
</form>
