    <form>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'footer.form1' | translate}}</mat-label>
          <input matInput placeholder="" />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'footer.form2' | translate}}</mat-label>
          <input matInput type="email" placeholder="you@example.com" />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'footer.form3' | translate}}</mat-label>
          <textarea matInput placeholder="Happy to hear from you"></textarea>
        </mat-form-field>
      </p>
      <p class="checkbox-caption">
      <mat-checkbox class="checkbox"></mat-checkbox>
         {{ 'footer.policy.text1' | translate}} <a href="" class="text-highlight">{{ 'footer.policy.highlight' | translate}}</a> {{ 'footer.policy.text2' | translate}}
        </p>
    </form>