<section>
  <div class="title">
    <h1>{{ "privacy.h1" | translate }}</h1>
    <span></span>
  </div>

  <h2>{{ "privacy.generalInfo.h2" | translate }}</h2>
  <p class="reference-text paragraph">
    {{ "privacy.generalInfo.text" | translate }}
  </p>

  <h3>{{ "privacy.collection.h3" | translate }}</h3>
  <h4>{{ "privacy.collection.h4" | translate }}</h4>
  <p class="reference-text paragraph">
    {{ "privacy.collection.text" | translate }}
  </p>

  <h4>{{ "privacy.collectionHow.h4" | translate }}</h4>
  <p class="reference-text paragraph">
    {{ "privacy.collectionHow.text" | translate }}
  </p>

  <h4>{{ "privacy.usage.h4" | translate }}</h4>
  <p class="reference-text paragraph">{{ "privacy.usage.text" | translate }}</p>

  <h4>{{ "privacy.rights.h4" | translate }}</h4>
  <p class="reference-text paragraph">
    {{ "privacy.rights.text" | translate }}
  </p>

  <h4>{{ "privacy.analytics.h4" | translate }}</h4>
  <p class="reference-text paragraph">
    {{ "privacy.analytics.text" | translate }}
  </p>

  <h2>{{ "privacy.hosting.h2" | translate }}</h2>
  <p class="reference-text paragraph">
    {{ "privacy.hosting.text" | translate }}
  </p>
  <address>STRATO GmbH Otto-Ostrowski-Straße 7 10249 Berlin</address>

  <h3>{{ "privacy.externalHosting.h3" | translate }}</h3>
  <p class="reference-text paragraph">
    {{ "privacy.externalHosting.text" | translate }}
  </p>

  <h2>{{ "privacy.mandatoryInfo.h2" | translate }}</h2>
  <h3>{{ "privacy.mandatoryInfo.h3" | translate }}</h3>
  <p class="reference-text paragraph">
    {{ "privacy.mandatoryInfo.text" | translate }}
  </p>

  <h3>{{ "privacy.responsible.h3" | translate }}</h3>
  <p class="reference-text paragraph">
    {{ "privacy.responsible.text1" | translate }}
  </p>
  <address>
    Sebastian Bünz <br />
    Hönscheidstraße 15 <br />
    53773 Hennef <br />
    Deutschland
    <p>
      Mail:
      <a href="mailto:bastibuenz25@gmail.com">bastibuenz25&#64;gmail.com</a>
    </p>
    <p>
      {{ "imprint.h1" | translate }}:
      <a href="https://sebastian-buenz.de/imprint" target="_blank" rel="noopener noreferrer"
        >https://www.sebastian-buenz.de/imprint</a
      >
    </p>
  </address>

  <p>{{ "privacy.responsible.text2" | translate }}</p>

  <h3>{{ "privacy.storage.h3" | translate }}</h3>
  <p class="reference-text paragraph">
    {{ "privacy.storage.text" | translate }}
  </p>

  <h3>{{ "privacy.legalbase.h3" | translate }}</h3>
  <p class="reference-text paragraph">
    {{ "privacy.legalbase.text" | translate }}
  </p>

  <h3>{{ "privacy.recipients.h3" | translate }}</h3>
  <p class="reference-text paragraph">
    {{ "privacy.recipients.text" | translate }}
  </p>

  <h3>{{ "privacy.withdrawal.h3" | translate }}</h3>
  <p class="reference-text paragraph">
    {{ "privacy.withdrawal.text" | translate }}
  </p>

  <h3>{{ "privacy.gdpr21.h3" | translate }}</h3>
  <p class="reference-text paragraph">
    {{ "privacy.gdpr21.text" | translate }}
  </p>

  <h3>{{ "privacy.complaint.h3" | translate }}</h3>
  <p class="reference-text paragraph">
    {{ "privacy.complaint.text" | translate }}
  </p>

  <h3>{{ "privacy.portability.h3" | translate }}</h3>
  <p class="reference-text paragraph">
    {{ "privacy.portability.text" | translate }}
  </p>

  <h3>{{ "privacy.info.h3" | translate }}</h3>
  <p class="reference-text paragraph">{{ "privacy.info.text" | translate }}</p>

  <h3>{{ "privacy.restriction.h3" | translate }}</h3>
  <p class="reference-text paragraph">
    {{ "privacy.restriction.text" | translate }}
  </p>
</section>
