@use './../../shared/index' as *;

ul {
  @include sizeStyle($h: 100dvh, $w: 100%);
  @include dFlex($fd: column);

  > a {
    @include dFlex();
    @include sizeStyle($h: 167px, $w: 580px);
    @include textStyle($ff: "Syne", $fs: 6rem, $fw: 700);
    text-decoration: none;

    > li {
      display: block;
    }
  }
}

.border-left {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3%;
    width: 20%;
    background: black;
  }

  &:after {
    content: "";
    position: absolute;
    top: 96px;
    left: 0;
    height: 40%;
    width: 5px;
    background: black;
  }

  &:hover::before {
    animation: expandLeft 0.5s forwards;
    animation-delay: 0.22s;
  }
  &:hover::after {
    animation: decreaseDown 0.25s forwards;
  }
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  a {
    font-size: 5rem !important;
    width: 500px !important;
  }
}

@media screen and (max-width: 600px) {
  a {
    font-size: 4rem !important;
    width: 400px !important;
  }
}

@media screen and (max-width: 440px) {
  a {
    height: 120px !important;
    font-size: 2.5rem !important;
    width: 270px !important;
  }
  .border-left:after {
    top: 68px;
  }
}


@media screen and (max-height: 430px) {
  ul{
    height: 100dvh !important;
  }
  a {
    height: 80px !important;
    font-size: 3rem !important;
  }
  .border-left:after {
    top: 44px !important;
  }

    .border-left:before {
    height: 5% !important;
  }
}

