@import "app/shared/index";

/* syne-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Syne";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/syne-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* syne-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/syne-v24-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* syne-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Syne";
  font-style: normal;
  font-weight: 800;
  src: url("assets/fonts/syne-v24-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* overpass-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/overpass-v19-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* overpass-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/overpass-v19-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* overpass-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Overpass";
  font-style: normal;
  font-weight: 800;
  src: url("assets/fonts/overpass-v19-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  font-family: "Overpass";
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: $primary;
}

button {
  background-color: $primary;
  border-style: none;
  &:hover {
    cursor: pointer;
  }
}

section {
  max-width: 1920px;
  width: 90%;
}

footer {
  max-width: 1920px;
  width: 100%;
}

a {
  text-decoration: none;
  color: $secondary;
}

.mat-mdc-form-field input:-webkit-autofill,
.mat-mdc-form-field textarea:-webkit-autofill
{
  -webkit-box-shadow: 0 0 0 1000px $secondary inset !important;
  -webkit-text-fill-color: $primary !important;
  caret-color: $highlight;
}


h1 {
  @include textStyle($ff: "Syne", $fw: 800, $fst: bold, $fs: 8rem);
}

.title,
h2 {
  @include title();
}

.text {
  text-align: justify;
  width: 100%;
}

.subtext {
  @include textStyle($fc: $primary);
}

.no-overflow {
  overflow: hidden;
}

.reference-text {
  @include textStyle($fs: 18px, $lh: 120%);
}

.paragraph {
  width: 90%;
  text-align: justify;
  max-width: 1920px;
}


@media screen and (max-width: 1200px) {
  h1 {
    font-size: 6rem !important;
  }
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 5.5rem !important;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 4.25rem !important;
  }

  h2 {
    font-size: 2.5rem !important;
  }

  section {
    scroll-margin-top: 100px;
  }
}

@media screen and (max-width: 600px){
  h1 {
    font-size: 3rem !important;
  }

  h2 {
    font-size: 2.25rem !important;
  }
}

@media screen and (max-width: 440px) {
  h1 {
    font-size: 2rem !important;
  }
}

@media screen and (max-width: 380px) {
  h2 {
    font-size: 1.75rem !important;
  }
}

@media screen and (max-height: 430px) {
  h1 {
    font-size: 2rem !important;
  }

  h2 {
    font-size: 2rem !important;
  }
}
