@import 'app/shared/index';


/* syne-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Syne";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/syne-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* syne-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/syne-v24-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* syne-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Syne";
  font-style: normal;
  font-weight: 800;
  src: url("assets/fonts/syne-v24-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* overpass-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/overpass-v19-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* overpass-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/overpass-v19-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* overpass-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Overpass";
  font-style: normal;
  font-weight: 800;
  src: url("assets/fonts/overpass-v19-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  font-family: "Overpass";
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: $primary;
}

button {
  background-color: $primary;
  border-style: none;
  &:hover {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
  color: $secondary;
}

h1 {
  font-family: "Syne" !important;
}



.text {
  text-align: justify;
  width: 100%;
}

.subtext {
  @include textStyle($fc: $primary);
}
