/* syne-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Syne";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/syne-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* syne-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/syne-v24-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* syne-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Syne";
  font-style: normal;
  font-weight: 800;
  src: url("assets/fonts/syne-v24-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* overpass-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/overpass-v19-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* overpass-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/overpass-v19-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* overpass-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Overpass";
  font-style: normal;
  font-weight: 800;
  src: url("assets/fonts/overpass-v19-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

$primary: #fffcf3;
$secondary: #000000;
$highlight: #ff9900;
$error: #e61c40;

* {
  font-family: "Overpass";
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: $primary;
}

button {
  background-color: $primary;
  border-style: none;
  &:hover {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
  color: $secondary;
}

h1 {
  font-family: "Syne" !important;
}

@mixin dFlex($jc: center, $ai: center, $fd: row, $g: 0) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
  gap: $g;
}

@mixin textStyle(
  $ff: "Overpass",
  $fs: 16px,
  $fw: 400,
  $fst: normal,
  $fc: $secondary,
  $lh: 100%,
  $ls: -2.5%,
  $va: middle
) {
  font-family: $ff;
  font-weight: $fw;
  font-size: $fs;
  font-style: $fst;
  color: $fc;
  line-height: $lh;
  letter-spacing: $ls;
  vertical-align: $va;
}

@mixin margin($m: 0 0 0 0) {
  margin: $m;
}

@mixin padding($p: 0 0 0 0) {
  padding: $p;
}

@mixin fontStyle($fs: 24px, $fw: bold, $c: #000000, $td: none) {
  font-size: $fs;
  font-weight: $fw;
  color: $c;
  text-decoration: $td;
}

@mixin positionStyle($p: absolute, $t: 0, $r: 0, $b: 0, $l: 0, $zi: 0) {
  position: $p;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
  z-index: $zi;
}

@mixin sizeStyle($h: 64px, $w: 64px, $deg: 0) {
  height: $h;
  width: $w;
  transform: rotate($deg);
}

@mixin backgroundStyle(
  $bgs: cover,
  $bgr: no-repeat,
  $bgp: 50% 50%,
  $bgc: unset
) {
  background-size: $bgs;
  background-repeat: $bgr;
  background-position: $bgp;
  background-color: $bgc;
}

@mixin borderStyle($bs: solid, $br: 0, $bc: $highlight, $bw: 2px) {
  border-style: $bs;
  border-radius: $br;
  border-color: $bc;
  border-width: $bw;
}

.title {
  @include dFlex($g: 16px, $fd: column);
  > h2 {
    @include textStyle($fw: 800, $fs: 3rem);
  }
  > span {
    text-align: center;
  }
}

.text {
  text-align: justify;
  width: 100%;
}

.subtext {
  @include textStyle($fc: $primary);
}

.mat-mdc-outlined-button {
  border-color: $secondary;
  border-radius: 0;
  color: $secondary;
  border-width: 4px;
  @include textStyle($fs: 23px, $lh: 120%);
  @include padding($p: 20px 40px);
  @include sizeStyle($h: 68px, $w: 149px);
  &:hover {
    filter: brightness(1);
    box-shadow: 0px 0px 12px 4px $highlight;
    color: $highlight;
    border-color: $highlight;
  }
}